<h2 mat-dialog-title>Add a new User</h2>
<mat-dialog-content class="mat-typography">
    <form class="register-form" [formGroup]="registerGroup">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="emailFormControl" placeholder="Email" />
            <mat-hint align="end">{{ emailFormCtrl?.value.length }}/80</mat-hint>
            <mat-error *ngIf="emailFormCtrl?.errors?.['minlength']"> Email must have at least 10 letters! </mat-error>
            <mat-error *ngIf="emailFormCtrl?.errors?.['maxlength']">
                Email must have less than 80 characters!
            </mat-error>
            <mat-error *ngIf="emailFormCtrl?.errors?.['required']"> Email is required! </mat-error>
            <mat-error *ngIf="emailFormCtrl?.errors?.['email']"> Email is not valid! </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="passwordFormControl" placeholder="Password" />
            <mat-hint align="end">{{ passwordFormControl?.value.length }}/60</mat-hint>
            <mat-error *ngIf="passwordFormControl?.errors?.['minlength']">
                Password must have at least 8 letters!
            </mat-error>
            <mat-error *ngIf="passwordFormControl?.errors?.['maxlength']">
                Password must have less than 60 characters!
            </mat-error>
            <mat-error *ngIf="passwordFormControl?.errors?.['required']"> Password is required! </mat-error>
            <mat-error *ngIf="passwordFormControl?.errors?.['pattern']">
                Password must contain at least 1 number, 1 Upercase letter and 1 lowercase letter!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input
                matInput
                type="password"
                formControlName="confirmPasswordFormControl"
                placeholder="Confirm password"
            />
            <mat-hint align="end">{{ confirmPasswordFormCtrl?.value.length }}/60</mat-hint>
            <mat-error *ngIf="!passwordMatch()"> Password does not match! </mat-error>
            <mat-error *ngIf="confirmPasswordFormCtrl?.errors?.['required']"> Confirm password is required! </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial (click)="addUser()" [disabled]="registerGroup.invalid || !passwordMatch()">
        Add
    </button>
</mat-dialog-actions>
