<h2 mat-dialog-title>Reserve in store</h2>
<mat-dialog-content class="mat-typography">
    <form class="example-form" [formGroup]="reserveFromGroup">
        <mat-form-field class="example-full-width" appearance="fill" hideRequiredMarker="true">
            <mat-label>First name</mat-label>
            <input type="text" matInput formControlName="firstName" />
            <mat-hint align="end">{{ firstName?.value.length }}/50</mat-hint>
            <mat-error *ngIf="firstName?.errors?.['minlength']">
                The first name must have at least 3 letters!
            </mat-error>
            <mat-error *ngIf="firstName?.errors?.['maxlength']">
                The first name must have less than 50 letters!
            </mat-error>
            <mat-error *ngIf="firstName?.errors?.['required']"> The first name is required! </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" hideRequiredMarker="true">
            <mat-label>Last name</mat-label>
            <input type="text" matInput formControlName="lastName" />
            <mat-hint align="end">{{ lastName?.value.length }}/50</mat-hint>
            <mat-error *ngIf="lastName?.errors?.['minlength']"> The last name must have at least 3 letters! </mat-error>
            <mat-error *ngIf="lastName?.errors?.['maxlength']">
                The last name must have less than 50 letters!
            </mat-error>
            <mat-error *ngIf="lastName?.errors?.['required']"> The last name is required! </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" hideRequiredMarker="true">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" />
            <mat-hint align="end">{{ email?.value.length }}/50</mat-hint>
            <mat-error *ngIf="email?.errors?.['minlength']"> The email must have at least 3 letters! </mat-error>
            <mat-error *ngIf="email?.errors?.['maxlength']"> The email must have less than 50 letters! </mat-error>
            <mat-error *ngIf="email?.errors?.['required']"> The email is required! </mat-error>
            <mat-error *ngIf="email?.errors?.['email']"> The email is invalid! </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial (click)="reserve()" [disabled]="reserveFromGroup.invalid">RESERVE CAR</button>
</mat-dialog-actions>
